/* General */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat';
	font-style: normal;
	color: #fff;
	background: #1f2a3d;
	min-width: 320px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: 1; /* Firefox */
}

a {
	text-decoration: none;
	color: #fff;
}

h1 {
	font-size: 60px;
	font-weight: 800;
}

h2 {
	font-size: 50px;
	font-weight: 800;
}

h3 {
	font-size: 20px;
	font-weight: 800;
}

h4 {
	font-size: 24px;
	font-weight: 500;
}

h5 {
	font-size: 20px;
	font-weight: 500;
}

p,
li {
	font-weight: 400;
}


/* For all sections */
.container {
	margin: 0 210px;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
}

.main_word {
	color: #ffaa00;
	text-transform: uppercase;
}

.section_title {
	font-weight: 800;
	font-size: 40px;
}

.section_description {
	font-size: 16px;
	color: #3b82f6;
	margin-bottom: 20px;
}

button{
	font-family: 'Montserrat';
	border: none;
	background: transparent;
	cursor: pointer;
}

.button1,
.button2 {
	display: flex;
	width: 230px;
	height: 60px;
	border-radius: 0.625vw;
	padding: 20px 0 10px;
	transition: ease-in .25s;
}

.button1 {
	background: #3b82f6;
	margin-right: 20px;
}

.button1:hover {
	background: #ffaa00;
	transform: scale(1.05);
}

.button2 {
	border: 2px solid #3b82f6;
	margin-left: 20px;
}

.button2:hover {
	border: 2px solid #ffaa00;
	transform: scale(1.05);
}

.button_text {
	width: 230px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.abs {
	position: absolute;
}


/* icons */
.person,
.like,
.figure,
.case {
	position: absolute;
}

.person {
	width: 2.5vw;
	height: 2.5vw;
	margin-left: 15.168vw;
	margin-top: 7.618vw;
}

.like {
	width: 1.875vw;
	height: 2.313vw;
	margin-left: 42vw;
	margin-top: 19.063vw;
}

.figure {
	width: 3.5vw;
	height: 3.125vw;
	margin-left: 12.5vw;
	margin-top: 38.75vw;
}

.case {
	width: 2.25vw;
	height: 1.875vw;
	margin-left: 37.25%;
	margin-top: 33.125vw;
}


/* HEADER */
.header {
	width: 100%;
	height: 80px;
	background: #284576;
	z-index: 1;
}

nav {
	display: flex;
	justify-content: space-between;
}

.nav_menu {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

.nav_toggle {
	position: relative;
	height: 4px;
	width: 30px;
	background-color: #ffaa00;
}

.nav_toggle:before{
	transform: translateY(-13px);
}

.nav_toggle:after {
	transform: translateY(13px);
}

.nav_toggle:before,
.nav_toggle:after {
	content: '';
	position: absolute;
	height: 4px;
	width: 40px;
	background-color: #ffaa00;
}

.nav_title {
	font-size: 20px;
	margin-left: 40px;
	cursor: pointer;
}

.nav_option {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.nav_phone {
	font-size: 18px;
	margin-right: 30px;
}

.nav_title:hover,
.nav_phone:hover {
	opacity: .7;
}

.nav_input {
	width: 280px;
	height: 40px;
}

.input_text {
	width: 240px;
	height: 40px;
	font-family: 'Montserrat';
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #fff;
	border-right: 0px;
	border-radius: 5px 0 0 5px;
	outline: none;
	padding-left: 12px;
}

.input_box {
	width: 40px;
	height: 40px;
	background-color: #3b82f6;
	border-radius: 0 5px 5px 0;
	text-align: center;
}

.input_icon {
	font-size: 18px;
	margin: 10px 0;
	cursor: pointer;
}

.input_text:focus {
	box-shadow: 0 0 2px 1px #3b82f680;
	border: 1px solid #3b82f6;
}

.input_text:focus +.input_icon {
	background-color: #3b82f680;
	transform: scale(1.05);
}


/* HOME */
.home_section {
	width: 100%;
	background: linear-gradient(184.37deg, rgba(59, 130, 246, 0.3) 3.98%, rgba(59, 130, 246, 0) 88%);
}

.home_content {
	padding-top: 100px;
}

.home_title {
	width: 658px;
	line-height: 63px;
}

.home_paragraph {
	width: 480px;
	font-size: 18px;
	line-height: 30px;
	margin: 50px 0;
}

.home_buttons {
	display: flex;
}

.ellipse1,
.ellipse2,
.ellipse3,
.ellipse4 {
	border-radius: 50%;
}

.ellipse1,
.ellipse3 {
	background: #ffaa00;
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.ellipse2,
.ellipse4 {
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ellipse1 {
	width: 380px;
	height: 380px;
}

.ellipse2 {
	width: 410px;
	height: 410px;
	margin-top: -3vw;
	margin-left: -2.5vw;
}

.ellipse3 {
	width: 120px;
	height: 120px;
}

.ellipse4 {
	width: 140px;
	height: 140px;
	margin-top: 17.3vw;
	margin-left: 10vw;
}

.orange_book {
	margin-top: -3.125vw;
	margin-left: -4.938vw;
}

.white_book {
	margin-top: 2.25vw;
	margin-left: 7.021vw;
}

.home_box {
	color: #3b82f6;
	background: #fff;
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.15);
	border-radius: 0.6vw;
	align-items: center;
	cursor: pointer;
}

.hb1 {
	width: 190px;
	height: 120px;
	margin-top: -1.250vw;
	margin-left: -5.563vw;
	padding-top: 16px;
}

.home_box_title1 {
	font-size: 14px;
	text-align: center;
}

.hb1 .wrap {
	align-items: center;
}

.icons {
	margin-left: 50px;
}

.home_box_icon1 {
	background: #3b82f6;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 4px;
	margin-left: -29px;
}

.home_box_number {
	font-size: 14px;
	font-weight: 600;
	margin-left: 8px;
}

.hb2 {
	width: 230px;
	height: 60px;
	margin-top: 11.875vw;
	margin-left: 16.313vw;
	padding: 15px 3px 15px 12px;
}

.home_box_icon2 {
	width: 30px;
	height: 30px;
}

.home_box_title2 {
	font-size: 14px;
	margin-left: 12px;
}

.hb3 {
	width: 160px;
	height: 60px;
	margin-top: 4.063vw;
	margin-left: -4.688vw;
	padding: 15px 13px 15px 12px;
	justify-content: space-between;
}

.home_box_icon3 {
	width: 34px;
	height: 30px;
}

.home_box_title3 {
	font-size: 14px;
}


/* ABOUT */
.about_content {
	margin-top: 160px;
}

.about_data {
	justify-content: space-between;
	margin-top: 40px;
}

.about_index {
	font-size: 60px;
	color: rgba(255, 255, 255, 0.1);
	margin: 20px 20px 0 0;
}

.about_paragraph {
	width: 470px;
	font-size: 18px;
	line-height: 30px;
}


/* WHOM */
.whom {
	margin: 90px 0 30px;
}

.whom_content {
	justify-content: space-between;
}

.whom_box {
	width: 280px;
	height: 310px;
	background: linear-gradient(141.64deg, rgba(255, 255, 255, 0.4) -152.3%, rgba(255, 255, 255, 0) 108.47%);
	border-radius: 10px;
	display: grid;
	place-items: center;
	transition: ease-in .25s;
	cursor: pointer;
}

.whom_box:hover {
	transform: scale(1.1);
}

.whom_icon {
	text-align: center;
	margin: 80px 0 50px 0;
}

.whom_text {
	line-height: 30px;
	text-align: center;
}

.whom_box .p1 {
	margin: 0 0 20px;
}

.whom_box .p2 {
	margin: 0 30px 20px;
}

.whom_box .p3 {
	margin: 0 35px 20px;
}

.whom_box .p4 {
	margin: 0 40px 20px;
}


/* ADVANTAGES */
.advantages_section {
	margin-top: 190px;
}

.advantages_data {
	justify-content: space-between;
	align-items: center;
}

.advantages_info {
	width: 680px;
	border-bottom: 1px solid #FFFFFF;
	margin: 50px 0;
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
}

.advantages_text {
	width: 440px;
}

.advantages_icon_border {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.875vw;
	height: 1.875vw;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 20px;
}

.advantages_icon {
	height: 0.476vw;
	width: 0.902vw;
}


/* WHYWE */
.whywe_section {
	margin-top: 180px;
}

.whywe_section .section_title {
	text-align: center;
}

.whywe_data {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.whywe_info {
	text-align: center;
	justify-content: center;
}

.whywe_value {
	color: #FFAA00;
	width: 23.75vw;
	margin-bottom: 20px;
}

.whywe_name {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.whywe_name.p1 {
	width: 23.75vw;
}

.whywe_name.p2 {
	width: 11.25vw;
	margin: 0 6.25vw;
}

.whywe_name.p3 {
	width: 13.75vw;
	margin: 0 5vw;
}


/* APPLICATION */
.application_section {
	margin-top: 230px;
}

.application_section .wrap {
	justify-content: space-between;
}

.white_space {
	background: #fff;
}

.ws_macbook {
	width: 830px;
	height: 550px;
	margin-left: -450px;
}

.macbook {
	width: 990px;
	height: 600px;
}

.device_text {
	color: #ffaa00;
}

.macbook_text {
	width: 258px;
	height: 50px;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	margin-top: -360px;
	margin-left: 350px;
}

.ws_iphone {
	width: 220px;
	height: 440px;
	border-radius: 10%;
	margin-top: 150px;
	margin-left: -120px;
}

.iphone {
	width: 240px;
	height: 480px;
	margin-top: -20px;
	margin-left: -10px;
}

.iphone_text {
	width: 180px;
	height: 30px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: -400px 0 15px;
}

.iphone_text_list {
	height: 250px;
	width: 200px;
	margin-left: 30px;
}

.iphone_text_item {
	width: 180px;
	font-size: 12px;
	line-height: 15px;
	color: #000;
	margin-bottom: 10px;
}

.application_content.apps {
	width: 580px;
}

.application_data {
	justify-content: space-between;
}

.application_paragraph {
	font-size: 18px;
	line-height: 30px;
	margin: 40px 0 70px;
}

.application_box {
	width: 180px;
	height: 170px;
	background: #fff;
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.15);
	border-radius: 1vw;
	display: grid;
	place-items: center;
	transition: ease-in .1;
	cursor: pointer;
}

.application_box:hover {
	opacity: .75;
}

.apple {
	width: 33px;
	height: 50px;
}

.application_icon {
	margin-top: 25px;
}

.application_text {
	width: 110px;
	font-size: 16px;
	line-height: 19.5px;
	text-align: center;
	color: #000;
}


/* USEFUL */
.useful_section {
	margin-top: 140px;
}

.useful_section .section_title,
.useful_section .section_description {
	text-align: right;
}

.useful_section .section_title {
	margin-bottom: 20px;
}

.useful_data {
	justify-content: space-between;
}

.useful_box {
	width: 380px;
	height: 280px;
	background: linear-gradient(141.64deg, rgba(255, 255, 255, 0.4) -152.3%, rgba(255, 255, 255, 0) 108.47%);
	border-radius: 10px;
	display: grid;
	place-items: center;
	margin-top: 20px;
	transition: ease-in .25s;
	cursor: pointer;
}

.useful_box:hover {
	opacity: .75;
}

.useful_box:hover .useful_icon, 
.useful_box:hover .useful_title, 
.useful_box:hover .useful_text {
	transform: scale(1.05);
}

.useful_icon {
	margin-top: 25px;
}

.useful_title {
	width: 380px;
	line-height: 29px;
	text-align: center;
}

.useful_text {
	width: 340px;
	height: 130px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}


/* OUR OFFER */
.ouroffer_section {
	margin-top: 170px;
}

.ouroffer_section .container {
	justify-content: space-between;
}

.ouroffer_data {
	margin-top: 30px;
}

.ouroffer_title {
	font-size: 18px;
	line-height: 30px;
}

.ouroffer_list {
	width: 33.75vw;
	margin: 20px;
}

.ouroffer_text {
	font-size: 16px;
	line-height: 30px;
}

.white_space_video {
	width: 580px;
	height: 400px;
	background: #FCFCFC;
	border-radius: 10px;
}

.ouroffer_video {
	height: 100%;
	font-size: 30px;
	font-weight: 600;
	line-height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFAA00;
}


/* PRODUCTS */
.products_section {
	margin: 150px 0 180px;
}

.products_data {
	display: none;
}

.products_data._active{
	display: flex;
	justify-content: space-between;
}

.orange_book2 {
	width: 510px;
	height: 510px;
	margin: 50px 0 0 -40px;
}

.products_info {
	width: 680px;
	margin-top: 100px;
}

.products_header {
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.products_price {
	font-size: 50px;
	line-height: 61px;
	color: #FFAA00;
	text-transform: uppercase;
}

.products_name {
	font-size: 30px;
	line-height: 37px;
	text-align: right;
}

.products_body {
	justify-content: space-between;
}

.products_list1 {
	width: 280px;
}

.products_list2 {
	width: 380px;
}

.products_item {
	font-size: 16px;
	line-height: 30px;
	margin-left: 20px;
}

.products_footer {
	justify-content: space-between;
	margin-top: 10px;
}

.products_buttons .button1,
.products_buttons .button2 {
	margin-top: 20px;
	border-radius: 0.313vw;
}

.products_buttons .button1 {
	margin-right: 15px;
}

.products_buttons .button2 {
	margin-left: 15px;
}

.products_index {
	font-size: 70px;
	color: rgba(255, 255, 255, 0.1);
}

.pages {
	margin: 40px 0 0 130px;
	align-items: center;
}

.swipe_page {
	cursor: pointer;
}

.page_prev {
	margin-right: 5px;
}

.swipe_btn {
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
}

.swipe_btn:hover {
	opacity: .8;
}

.swipe_btn._active {
	background: #fff;
	color: #000;
}

.page_next {
	margin-left: 5px;
}