@media screen and (max-width: 1594px) {
	.container {
		margin: 0 131px;
	}
}

@media screen and (max-width: 1442px) {
	.advantages_info {
		width: 630px;
	}

	.whywe_value,
	.whywe_name {
		width: 23vw;
	}

	.ouroffer_list {
		width: 530px;
	}
	
	.ws_macbook {
		margin-left: -500px;
	}
	
	.macbook_text {
		margin-left: 400px;
	}
	
	.application_content {
		width: 560px;
	}
	
	.useful_box {
		width: 368px;
	}
	
	.useful_text {
		width: 325px;
		line-height: 25px;
		text-align: center;
	}
		
	.ouroffer_list {
		width: 510px;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		margin: 0 85px;
	}

	.button1,
	.button2 {
		width: 180px;
		height: 80px;
	}
	
	.button1 {
		margin-right: 10px;
	}
	
	.button2 {
		margin-left: 10px;
	}

	.button_text {
		width: 180px;
	}

	.home_paragraph {
		width: 380px;
		font-size: 18px;
	}

	.ellipse1 {
		width: 340px;
		height: 340px;
	}
	
	.ellipse2 {
		width: 370px;
		height: 370px;
		margin-top: -1vw;
		margin-left: 4vw;
	}
	
	.ellipse3 {
		width: 100px;
		height: 100px;
	}
	
	.ellipse4 {
		width: 120px;
		height: 120px;
		margin-top: 22vw;
		margin-left: 6vw;
	}

	.orange_book {
		width: 27.4vw;
		height: 28.6vw;
	}
	
	.white_book {
		width: 20.4vw;
		height: 21.6vw;
		margin-left: 7.7vw;
	}

	.hb1 {
		width: 15vw;
		height: 9.1vw;
		margin-left: -7vw;
		padding-top: 12px;
	}

	.icons {
		margin-left: 41px;
	}

	.hb2 {
		width: 17.8vw;
		margin-left: 19vw;
	}

	.home_box_icon2 {
		width: 2.1vw;
		height: 2.1vw;
	}
	
	.home_box_title2 {
		margin-left: 2px;
	}

	.hb3 {
		height: 4.4vw;
		margin-left: -7.188vw;
		padding: 10px 13px 10px 12px;
	}

	.home_box_icon3 {
		width: 2.2vw;
		height: 2.1vw;
	}
	
	.about_content,
	.advantages_section,
	.whywe_section,
	.application_section,
	.useful_section,
	.ouroffer_section,
	.products_section {
		margin-top: 140px;
	}

	.about_index {
		width: 7.2vw;
		font-size: 55px;
		margin-top: 30px;
	}
	
	.about_paragraph {
		width: 34.4vw;
		font-size: 17px;
		line-height: 30px;
	}

	.whom_box {
		width: 20vw;
		height: 23.2vw;
	}

	.whom_icon {
		margin: 5.2vw 0 2.8vw 0;
	}
	
	.advantages_info {
		width: 42.5vw;
	}
	
	.ws_macbook {
		margin-left: -45.6vw;
	}
	
	.macbook_text {
		margin-left: 36vw;
	}

	.apps {
		margin-left: -6vw;
		width: 45vw;
	}

	.application_box,
	.application_text {
		width: 14.3vw;
	}

	.useful_box {
		width: 27vw;
		height: 21.1vw;
	}
	
	.useful_title {
		width: 27vw;
	}

	.useful_text {
		width: 24.3vw;
		line-height: 22px;
	}

	.ouroffer_section .container {
		align-items: center;
	}

	.ouroffer_list {
		width: 30vw;
	}

	.ouroffer_title {
		font-size: 20px;
	}

	.ouroffer_text {
		font-size: 17px;
	}
	
	.white_space_video {
		width: 42.5vw;
		height: 30vw;
		background: #FCFCFC;
		border-radius: 10px;
	}

	.orange_book2 {
		margin-left: -60px;
	}

	.products_info {
		width: 635px;
	}
	
	.products_price {
		width: 260px;
		font-size: 52px;
	}
	
	.products_name {
		width: 350px;
		font-size: 33px;
	}

	.products_list1 {
		width: 270px;
	}
	
	.products_list2 {
		width: 365px;
	}

	.products_item {
		margin-right: 0;
	}

	.little_button {
		padding: 10px 0;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		margin: 0 60px;
	}

	.button1,
	.button2 {
		width: 16vw;
		height: 6vw;
		padding: 10px 0 5px;
	}
	
	.home_title {
		width: 50vw;
		height: 150px;
		font-size: 3.83vw;
		line-height: 50px;
	}

	.home_paragraph {
		width: 36vw;
	}

	.ellipse1 {
		width: 300px;
		height: 300px;
	}
	
	.ellipse2 {
		width: 330px;
		height: 330px;
		margin-left: -3vw;
		margin-top: -6vw;
	}
	
	.ellipse3 {
		width: 70px;
		height: 70px;
	}
	
	.ellipse4 {
		width: 90px;
		height: 90px;
		margin-left: 10vw;
		margin-top: 22vw;
	}

	.orange_book {
		width: 29vw;
		height: 30vw;
	}
	
	.white_book {
		width: 23vw;
		height: 24vw;
		margin-left: 8vw;
	}

	.hb1 {
		width: 13vw;
		height: 8vw;
		margin-left: -5vw;
		padding-top: 14px;
	}

	.home_box_title1 {
		font-size: 1.2vw;
	}
	
	.icons {
		margin-left: 2.5vw;
	}
	
	.home_box_icon1 {
		width: 2.5vw;
		height: 2.5vw;
		margin-left: -1.8vw;
	}

	.home_box_number {
		width: 70px;
		height: 20px;
		font-size: 1.1vw;
		margin-left: 0.3vw;
	}

	.hb2 {
		width: 11vw;
		height: 5.5vw;
		margin-left: 18vw;
		margin-top: 12vw;
		padding: 5px;
	}
	
	.home_box_icon2 {
		width: 2.2vw;
		height: 2.2vw;
	}
	
	.home_box_title2 {
		width: 7vw;
		font-size: 1.2vw;
		margin-left: 0.5vw;
	}
	
	.hb3 {
		width: 13vw;
		height: 3.4vw;
		margin-top: 4vw;
		margin-left: -7.6vw;
		padding: 5px;
	}
	
	.home_box_icon3 {
		font-size: 1.2vw;
	}

	.home_box_title3 {
		width: 9vw;
		font-size: 1.2vw;
		text-align: right;
	}

	.about_info {
		align-items: center;
	}

	.about_index {
		width: 8.5vw;
		height: 6vw;
		font-size: 50px;
		margin-top: 0;
	}
	
	.about_paragraph {
		width: 35vw;
		height: 10vw;
		font-size: 16px;
		line-height: 25px;
	}

	.whom_icon {
		height: 6vw;
		width: 6vw;
		margin: 3vw 0 2vw;
	}

	.whom_text {
		font-size: 1.4vw;
		line-height: 25px;
	}

	.advantages_info {
		height: 4vw;
		width: 40vw;
	}

	.advantages_info .p1,
	.advantages_info .p2,
	.advantages_info .p3,
	.advantages_info .p4 {
		width: 25vw;
	}

	.advantages_text {
		font-size: 2vw;
		height: 6vw;
		line-height: 20px;
	}

	.advantages_image {
		width: 46vw;
		height: 50vw;
		margin-left: 1vw;
	}

	.whywe_value {
		font-size: 6vw;
		width: 26vw;
		height: 6vw;
	}
	
	.whywe_name {
		font-size: 3vw;
		width: 26vw;
		height: 10vw;
	}

	.ws_macbook {
		margin-left: -550px;
	}
	
	.macbook_text {
		font-size: 4.5vw;
		margin-left: 470px;
	}

	.apps {
		margin-left: -6vw;
		width: 43vw;
	}

	.apps .section_title {
		font-size: 33px;
	}

	.application_paragraph {
		font-size: 1.8vw;
	}

	.application_box {
		width: 13.6vw;
		height: 13vw;
	}

	.apple {
		width: 3.5vw;
		height: 3.5vw;
	}
	
	.application_icon {
		width: 3.5vw;
		height: 3.5vw;
	}

	.application_text {
		width: 13.6vw;
		height: 40px;
		font-size: 1.5vw;
		line-height: 15px;
	}

	.useful_box {
		width: 28.5vw;
		height: 22vw;
		margin-top: 15px;
	}

	.useful_icon {
		margin-top: 1.8vw;
	}

	.useful_title {
		font-size: 2.3vw;
	}

	.useful_text {
		font-size: 1.2vw;
		line-height: 20px;
	}

	.ouroffer_content {
		width: 47vw;
	}

	.ouroffer_title {
		font-size: 1.7vw;
		line-height: 25px;
	}

	.ouroffer_text {
		width: 42vw;
		font-size: 1.5vw;
		line-height: 25px;
	}
	
	.white_space_video {
		width: 42vw;
		margin-top: 10vw;
		margin-left: -20vw;
	}

	.products_section {
		margin-bottom: 160px;
	}

	.orange_book2 {
		width: 31vw;
		height: 31vw;
		margin: 50px 0 0 -40px;
	}

	.products_info {
		width: 60vw;
		margin-top: 60px;
	}

	.products_price {
		font-size: 4.3vw;
		width: 25vw;
	}
	
	.products_name {
		font-size: 2.8vw;
		width: 28vw;
	}

	.products_list1 {
		width: 24vw;
	}
	
	.products_list2 {
		width: 35vw;
	}
}

@media screen and (max-width: 1080px) {
	.apps {
		margin-left: -12vw;
	}
}

@media screen and (max-width: 992px) {
	.button1,
	.button2 {
		width: 20vw;
		height: 8vw;
	}

	.button1 {
		margin-right: 5px;
	}
	
	.button2 {
		margin-left: 5px;
	}
	
	.button_text {
		width: 20vw;
		height: 6vw;
		font-size: 1.825vw;
	}

	.nav_title {
		margin-left: 25px;
	}

	.nav_phone {
		margin-right: 20px;
	}

	.nav_input {
		width: 240px;
		height: 40px;
	}
	
	.input_text {
		width: 200px;
	}

	.home_content {
		padding-top: 160px;
	}

	.home_title {
		width: 65vw;
		height: 110px;
		font-size: 4.8vw;
	}

	.home_paragraph {
		width: 40vw;
		font-size: 2.2vw;
		line-height: 26px;
		margin: 65px 0 40px;
	}

	.ellipse1 {
		width: 35.2vw;
		height: 35.2vw;
	}
	
	.ellipse2 {
		width: 37.8vw;
		height: 37.8vw;
		margin-top: 2vw;
		margin-left: 0vw;
	}
	
	.ellipse3 {
		width: 9.1vw;
		height: 9.1vw;
	}
	
	.ellipse4 {
		width: 11vw;
		height: 11vw;
		margin-left: -6vw;
		margin-top: 36vw;
	}

	.orange_book {
		width: 37vw;
		height: 38vw;
	}
	
	.white_book {
		width: 27vw;
		height: 28vw;
		margin-top: 7vw;
		margin-left: 12vw;
	}

	.hb1 {
		width: 15vw;
		height: 10vw;
		margin-left: -4vw;
		padding-top: 10px;
	}

	.icons {
		margin-left: 3.3vw;
	}

	.home_box_icon1 {
		width: 3vw;
		height: 3vw;
		margin-left: -2.2vw;
		padding: 1.75px 4.25px;
	}

	.home_box_number {
		width: 60px;
		font-size: 1.4vw;
	}

	.hb2 {
		width: 15vw;
		margin-left: 24vw;
		margin-top: 18.5vw;
	}
	
	.home_box_icon2 {
		width: 2.6vw;
		height: 2.6vw;
	}
	
	.home_box_title2 {
		width: 9vw;
		font-size: 1.3vw;
		text-align: right;
	}
	
	.hb3 {
		width: 15vw;
		height: 5vw;
		margin-top: 3.2vw;
		margin-left: -9vw;
		align-items: center;
	}
	
	.home_box_icon3 {
		width: 2.8vw;
		height: 2.8vw;
	}
	
	.home_box_title3 {
		height: 1.8vw;
		font-size: 1.3vw;
	}

	.about_index {
		width: 11vw;
		font-size: 7vw;
	}
	
	.about_paragraph {
		width: 32vw;
		height: 90px;
		font-size: 1.6vw;
		line-height: 20px;
	}

	.whom_content {
		justify-content: space-evenly;
	}

	.whom_box {
		width: 33vw;
		height: 35vw;
		margin-top: 30px;
	}

	.whom_icon {
		height: 8vw;
		width: 15vw;
		margin: 70px 0 40px 0;
	}
	
	.whom_text {
		font-size: 2vw;
	}

	.advantages_list {
		display: flex;
	}

	.advantages_info {
		height: 6vw;
		margin: 30px 40px 30px 0;
	}
	
	.advantages_image {
		width: 60vw;
		height: 50vw;
		margin-left: 13vw;
	}
	
	.apps {
		margin-left: -20vw;
		width: 44vw;
	}
	
	.ws_macbook {
		width: 700px;
		height: 400px;
	}
	
	.macbook {
		width: 840px;
		height: 450px;
	}

	.macbook_text {
		margin-top: -290px;
		margin-left: 460px;
	}

	.ws_iphone {
		width: 155px;
		height: 310px;
		margin-top: 220px;
		margin-left: -50px;
	}
	
	.iphone {
		width: 170px;
		height: 340px;
		margin-top: -20px;
		margin-left: -10px;
	}

	.iphone_text {
		width: 140px;
		font-size: 18px;
		margin-top: -300px;
	}

	.iphone_text_list {
		width: 200px;
		margin-left: 20px;
	}
	
	.iphone_text_item {
		width: 120px;
		font-size: 9px;
		line-height: 12px;
		margin-bottom: 5px;
	}

	.application_content .section_title {
		width: 450px;
	}
	
	.application_paragraph {
		height: 150px;
		font-size: 2.2vw;
		line-height: 30px;
		margin: 20px 10px;
	}

	.application_data {
		margin-top: -2vw;
	}

	.application_box {
		margin-bottom: 15px;
	}

	.useful_data {
		justify-content: space-evenly;
	}

	.useful_box {
		width: 35vw;
		height: 25vw;
		margin-top: 20px;
	}

	.ouroffer_content {
		width: 40vw;
	}

	.ouroffer_content .section_title {
		height: 14vw;
	}

	.ouroffer_text {
		width: 38vw;
	}

	.ouroffer_video {
		font-size: 3vw;
	}

	.products_section {
		margin-bottom: 130px;
	}

	.products_data {
		justify-content: center;
	}

	.orange_book2 {
		width: 31vw;
		height: 31vw;
		margin: 50px 0 0;
	}

	.products_info {
		width: 75vw;
		margin-top: 20px;
	}

	.products_header {
		padding-bottom: 10px;
		margin-bottom: 30px;
	}

	.products_price {
		font-size: 5.2vw;
		width: 28vw;
	}
	
	.products_name {
		font-size: 3vw;
		width: 35vw;
	}

	.products_list1 {
		width: 32vw;
	}
	
	.products_list2 {
		width: 43vw;
	}

	.products_section .button1,
	.products_section .button2 {
		width: 25vw;
		height: 6vw;
	}

	.little_button {
		padding: 0;
	}

	.button_text {
		width: 25vw;
		height: 4.5vw;
	}

	.pages {
		justify-content: center;
		margin: 40px 0 0;
	}
}

@media screen and (max-width: 900px) {
	.apps {
		margin-left: -27vw;
		width: 42vw;
	}
}

@media screen and (max-width: 856px) {
	.about_index {
		width: 13vw;
		height: 60px;
		font-size: 60px;
	}
	
	.about_paragraph {
		width: 55vw;
		height: 90px;
		font-size: 16px;
		line-height: 25px;
	}
}

@media screen and (max-width: 800px) {
	.apps {
		margin-left: -33vw;
	}
}

@media screen and (max-width: 767px) {
	.container {
		margin: 0 30px;
	}

	.button1,
	.button2 {
		padding: 5px 0;
	}

	.button_text {
		font-size: 1.9vw;
	}

	.nav_phone {
		margin-right: 10px;
	}

	.home_content {
		padding-top: 140px;
	}

	.home_title {
		width: 70vw;
		font-size: 5.2vw;
	}

	.home_paragraph {
		width: 42vw;
		font-size: 2.5vw;
	}

	.ellipse2 {
		margin-top: 4vw;
		margin-left: 0vw;
	}
	
	.ellipse4 {
		margin-left: -0.5vw;
		margin-top: 36vw;
	}

	.hb1 {
		padding-top: 7px;
	}

	.home_box_title1 {
		margin: 5px;
	}

	.home_box_number {
		width: 50px;
		font-size: 1.5vw;
	}

	.about_content,
	.advantages_section,
	.whywe_section,
	.application_section,
	.useful_section,
	.ouroffer_section,
	.products_section {
		margin-top: 100px;
	}

	.about_index {
		width: 15vw;
		height: 65px;
		font-size: 60px;
	}
	
	.about_paragraph {
		width: 60vw;
		height: 90px;
		font-size: 16px;
		line-height: 25px;
	}

	.whom_box {
		width: 38vw;
	}

	.application_section .section_title {
		height: 120px;
	}

	.application_content {
		width: 280px;
	}
	
	.apps {
		width: 44.3vw;
		margin-left: 0;
	}

	.application_paragraph {
		line-height: 25px;
	}
	
	.ws_macbook {
		width: 660px;
		height: 360px;
		margin-left: -525px;
	}
	
	.macbook {
		width: 790px;
		height: 410px;
	}

	.macbook_text {
		margin-left: 430px;
	}

	.ws_iphone {
		width: 128px;
		height: 260px;
		margin-top: 180px;
	}
	
	.iphone {
		width: 140px;
		height: 280px;
		margin-top: -10px;
	}

	.iphone_text {
		width: 120px;
		font-size: 18px;
		margin-top: -250px;
	}

	.iphone_text_list {
		width: 100px;
		margin-top: 10px;
	}
	
	.iphone_text_item {
		width: 100px;
		font-size: 8px;
		line-height: 10px;
	}

	.apps .section_title {
		width: 300px;
		font-size: 32px;
	}

	.useful_box {
		width: 40vw;
		height: 27vw;
	}
	
	.useful_icon {
		width: 4vw;
		height: 4vw;
		margin-top: 2.5vw;
	}

	.useful_text {
		width: 34vw;
		height: 12vw;
		font-size: 1.6vw;
		line-height: 15px;
	}

	.ouroffer_content {
		width: 45vw;
	}

	.ouroffer_title {
		font-size: 2.1vw;
		line-height: 20px;
	}

	.ouroffer_text {
		font-size: 1.8vw;
		line-height: 20px;
	}

	.white_space_video {
		width: 45vw;
		height: 33vw;
		margin-top: 24vw;
		margin-left: -10vw;
	}
	
	.products_section {
		margin-bottom: 100px;
	}

	.orange_book2 {
		width: 40vw;
		height: 40vw;
		margin-top: 35px;
	}

	.products_info {
		width: 80vw;
	}

	.products_header {
		padding-bottom: 0;
	}

	.products_price {
		font-size: 6vw;
		width: 32vw;
	}
	
	.products_item {
		height: 4vw;
		font-size: 2vw;
		line-height: 22px;
	}
	.products_list1,
	.products_list2 {
		height: 27vw;
	}

	.products_list1 {
		width: 30vw;
	}
	
	.products_list2 {
		width: 50vw;
	}

	.products_section .button1,
	.products_section .button2 {
		width: 25vw;
		height: 6vw;
	}

	.products_content .button1,
	.products_content .button2 {
		width: 27vw;
		height: 9.2vw;
		margin: 20px 0 0;
		padding: 10px 0;
	}

	.products_content .button_text {
		width: 27vw;
		height: 6vw;
		font-size: 2.4vw;
		text-align: center;
	}
	
	.products_content .little_button {
		height: 3vw;
		padding: 5px;
	}
}

@media screen and (max-width: 650px) {
	.container {
		margin: 0 15px;
	}

	.section_title {
		height: 50px;
		font-size: 35px;
	}
	
	.section_description {
		height: 20px;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.button1,
	.button2 {
		width: 22vw;
		height: 9.2vw;
		padding: 10px 0;
	}

	.button_text {
		width: 24vw;
		height: 6vw;
		font-size: 2.2vw;
		line-height: 15px;
	}

	.header {
		height: 60px;
	}

	.nav_menu {
		margin-top: 20px;
	}
	
	.nav_toggle {
		height: 3px;
		width: 18px;
	}
	
	.nav_toggle:before{
		transform: translateY(-10px);
	}
	
	.nav_toggle:after {
		transform: translateY(10px);
	}
	
	.nav_toggle:before,
	.nav_toggle:after {
		height: 3px;
		width: 25px;
	}
	
	.nav_title {
		font-size: 16px;
		margin-left: 20px;
	}
	
	.nav_option {
		margin-top: 15px;
	}
	
	.nav_phone {
		font-size: 14px;
		margin-right: 15px;
	}
	
	.nav_input {
		width: 180px;
		height: 30px;
	}
	
	.input_text {
		width: 140px;
		height: 30px;
		font-size: 11px;
		padding-right: 12px;
	}
	
	.input_icon {
		height: 30px;
		width: 30px;
		padding: 9px 7px;
	}

	.home_title {
		width: 80vw;
		height: 90px;
		font-size: 6vw;
		line-height: 40px;
	}

	.home_paragraph {
		width: 42vw;
		font-size: 2.6vw;
		margin: 20px 0 35px;
	}

	.ellipse1 {
		width: 36.5vw;
		height: 36.5vw;
	}
	
	.ellipse2 {
		width: 39vw;
		height: 39vw;
		margin-top: 8vw;
		margin-left: -6vw;
	}
	
	.ellipse3 {
		width: 10vw;
		height: 10vw;
	}
	
	.ellipse4 {
		width: 12vw;
		height: 12vw;
		margin-left: 2vw;
		margin-top: 42vw;
	}

	.home_section .button1,
	.home_section .button2 {
		margin: 10px 3px 0;
	}

	.hb1 {
		width: 15vw;
		height: 11vw;
		margin-left: -4vw;
		padding-top: 5px;
	}

	.home_box_title1 {
		font-size: 1.3vw;
	}

	.home_box_icon1 {
		width: 4vw;
		height: 4vw;
		margin-left: -3.2vw;
		padding: 1px 3px;
	}

	.home_box_number {
		width: 7vw;
		height: 8px;
		font-size: 1.6vw;
	}

	.about_index {
		width: 17vw;
		height: 70px;
		font-size: 10vw;
	}
	
	.about_paragraph {
		width: 70vw;
		height: 110px;
		font-size: 2.825vw;
		line-height: 27px;
	}

	.whom_box {
		width: 38vw;
		height: 42vw;
		margin-top: 25px;
	}

	.whom_icon {
		height: 10vw;
		width: 15vw;
		margin: 35px 0 30px 0;
	}
	
	.whom_text {
		font-size: 2.5vw;
		line-height: 22px;
	}

	.advantages_list {
		flex-direction: column;
		margin: 30px 40px 0;
	}

	.advantages_info {
		width: 70vw;
		margin: 5vw 0 0;
	}
	
	.advantages_text {
		height: 30px;
		font-size: 2.65vw;
		line-height: 10px;
	}
	
	.advantages_info .p1,
	.advantages_info .p2,
	.advantages_info .p3,
	.advantages_info .p4 {
		width: 50vw;
	}

	.advantages_icon {
		font-size: 4.17vw;
	}

	.whywe_value {
		width: 30vw;
	}
	
	.whywe_name {
		width: 30vw;
		font-size: 2.7vw;
	}

	.ws_macbook {
		height: 260px;
		margin-left: -560px;
	}
	
	.macbook {
		height: 310px;
	}

	.macbook_text {
		margin-top: -200px;
		margin-left: 460px;
	}

	.application_section .section_title {
		width: 100px;
	}

	.application_content {
		width: 45.8vw;
	}

	.application_paragraph {
		height: 18.75vw;
		font-size: 2.5vw;
		line-height: 20px;
		margin: 35px 10px;
	}

	.application_box {
		width: 16vw;
		height: 15vw;
		margin-left: -5vw;
	}
	
	.apple,
	.application_icon {
		width: 4vw;
		height: 4.5vw;
		margin: 10px;
	}
	
	.application_text {
		width: 12vw;
		height: 25px;
		font-size: 1.6vw;
		line-height: 10px;
	}

	.useful_title {
		height: 20px;
	}

	.useful_text {
		line-height: 11px;
	}

	.ouroffer_section .wrap {
		flex-direction: column;
	}
	
	.ouroffer_content {
		width: 100%;
	}

	.ouroffer_title {
		font-size: 3vw;
	}
	
	.ouroffer_text {
		font-size: 2.2vw;
	}

	.ouroffer_list {
		margin: 10px;
	}

	.ouroffer_text {
		font-size: 2.2vw;
		width: 70vw;
		line-height: 20px;
	}

	.white_space_video {
		margin: 0;
		width: 60vw;
		height: 45vw;
	}

	.ouroffer_video {
		font-size: 4.5vw;
	}

	.orange_book2 {
		width: 45vw;
		height: 45vw;
	}

	.products_info {
		margin: 0;
	}

	.products_header {
		margin-bottom: 15px;
	}

	.products_index {
		width: 15vw;
		font-size: 10vw;
	}

	.odd_page,
	.even_page {
		width: 8vw;
		height: 8vw;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {}
